{{define "title"}}
<title>Detail Pasien</title>
<link rel="stylesheet" href="/static/main.css">
{{end}}

{{define "body"}}

<div class="container-fluid">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="panel panel-primary">
			<div class="panel-heading">Detail Pasien</div>
			<div class="panel-body">
				 {{with .Pts}}
				    {{range .}}
				       <h4>Nama Pasien:</h4>
				       <p>{{.NamaPasien}}</p>
				       <h4>Alamat:</h4>
				           {{if .Alamat}}
				              <p>{{.Alamat}}</p>
				           {{else}}
				              <p>Belum dilengkapi</p>
				           {{end}}
				      <h4>Tanggal Lahir (Umur):</h4>
				           {{if .Umur}}
				              <p>{{.Umur}}</p>
				           {{else}}
				              <p>Belum dilengkapi</p>
				           {{end}}
				     <h4>Jenis Kelamin: </h4>
				           {{if .JenKel}}
				              <p>{{.JenKel}}</p>
				           {{else}}
				              <p>Belum dilengkapi</p>
				           {{end}}
			     {{end}}
			 {{end}}
			 </div>
			 <div class="panel-footer"><a href="/ubahpts/{{.Link}}" class="btn btn-info" role="button">Ubah Data Pasien</a></div>

		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
<div class="container-fluid">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<div class="panel panel-info">
			<div class="panel-heading text-center">Kunjungan Pasien</div>
			<div class="panel-body table-responsive">
				<table class="table table-bordered table-condensed">
						<thead>
			<tr>
							<th class="bg-success">No</th>
							<th class="bg-success">Tanggal - Jam</th>
							<th class="bg-success">Diagnosis</th>
							<th class="bg-success">IKI 1</th>
							<th class="bg-success">IKI 2</th>
							<th class="bg-success">Dokter</th>
						</tr>
			</thead>
			<tbody id="tabbody">
				{{with .Kunjungan}}
					 {{range $m, $n := .}}
						 {{if $n.Diagnosis}}
								 <tr>
									<td>{{$m}}</td>
									<td>{{$n.TglKun}}</td>
									<td>{{$n.Diagnosis}}</td>
									{{if $n.IKI}}
										 <td class="text-center checkmark">&#x2714;</td>
										 <td class="text-center checkmark"></td>
									{{else}}
										 <td class="text-center checkmark"></td>
										 <td class="text-center checkmark">&#x2714;</td>
									{{end}}
										 <td class="text-center">
											 {{$n.Dokter}}
										</td>
						 {{end}}
								 </tr>
					{{end}}
				{{end}}

			</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>

{{end}}
