{{define "title"}}
<title>Halaman Utama</title>
<script src="static/main.js"></script>
<link rel="stylesheet" href="static/login.css">
{{end}}

{{define "body"}}
<div class="container">	
   <div class="col-sm-4"></div>
   <div class="col-sm-4">
      <div id="infouser" class="text-center"></div>
   </div>
   <div class="col-sm-4"></div>
</div>
<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Input Data Pasien</div>
      <div class="panel-body">
        <form action="" method="post" role="form">
          <div class="form-group" id="form1">
            <label for="nocm">No. CM:</label><br>
            <input type="text" name="nocm" id="nocm" class="form-control"><br>
            <span id="datapasien"></span>
            <!-- <input type="submit" value="Cari"> -->
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Tabel IKI</div>
      <div class="panel-body">
        <table class="table table-bordered table-responsive" id="tabeliki">
          <thead>
		  <tr>
            <th class="bg-success">No.</th>
            <th class="bg-success">Tanggal</th>
            <th class="bg-success">IKI 1</th>
            <th class="bg-success">IKI 2</th>
          </tr>
		  </thead>
		  <tbody id="listiki"></tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="container">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-info">
      <div class="panel-heading text-center">Daftar Pasien Bulan</div>
      <div class="panel-body">
        <table class="table table-bordered table-responsive" id="tabelpasien">
            <thead>
			<tr>
              <th class="bg-success">No</th>
              <th class="bg-success">Tanggal</th>
              <th class="bg-success">No. CM</th>
              <th class="bg-success">Nama Pasien</th>
              <th class="bg-success">Diagnosis</th>
              <th class="bg-success">IKI 1</th>
              <th class="bg-success">IKI 2</th>
			  <th class="bg-success">Edit/Delete</th>
            </tr>
			</thead>
			<tbody id="listpasien">

			</tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{{end}}
